<h1>Mi gran lista de Perros</h1>

<ul>
  <% @dogs.each do |dog| %>
    <li><a href="/dogs/<%= dog.id %>"><%= dog.name %></a>, <%= dog.age %></li>
  <% end %>
</ul>



<% if @errors %>
  <ul style='color: red;'>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<h4>Nuevo perrito</h4>
<form class="" action="/dogs" method="post">
  <label for="name">Nombre</label>
  <input type="text" name="name" placeholder="nombre del perrito">
  <label for="age">Edad</label>
  <input type="number" name="age" placeholder="edad del perrito">
  <input type="submit"  value="Crea al perrito">
</form>
