<h1>Edit Dog</h1>

<% if @errors %>
  <h3>Su perro es invalido</h3>
  <img src="http://cde.3.elcomercio.pe/ima/0/1/1/1/2/1112065/base_image.jpg" alt="">
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Nombre</label><br>
  <input type="text" name="name" placeholder="Nombre del perrito" value="<%= @dog.name %> ">
  <label for="age">Edad</label><br>
  <input type="number" name="age"value="<%= @dog.age %>">
  <input type="submit" value="Actualizar Perrito" >
</form>
